<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="skwas-cordova-plugin-appinfo-tests"
    version="2.0.0-dev">
    <name>Cordova AppInfo Plugin Tests</name>
    <license>MIT</license>

    <js-module src="tests.js" name="tests">
    </js-module>
</plugin>